.landing-block {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
    
.landing-links {
width: 100%;
text-align: center;
}
a{  box-shadow: rgb(190, 189, 189) 0 0 10px;
padding: 5px;}
img{padding: 10px;}